.select-choice-container {
    
    .choice-block {
        border: 1px solid #007bff;
        margin-bottom: 3rem;
        border-radius: 20px;

        .choice-button {
            margin: auto 5px;
        }
    }
}